#app1>.input>#add1 {
    width: 50px;
    height: 30px;
}

#app1>.input>#minus1 {
    width: 50px;
    height: 30px;
}

#app1>.input>#mul2 {
    width: 50px;
    height: 30px;
}

#app1>.input>#divide2 {
    width: 50px;
    height: 30px;
}