#app4 .circle {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

@keyframes change {
    0% {
        background-color: red;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}

#app4 .circle.active {
    animation-duration: 3s;
    animation-name: change;
    animation-iteration-count: infinite;
}